// Get {{.StructName}}
// @Summary Get {{.StructName}}
// @Schemes
// @Description Get {{.StructName}}
// @Tags {{.StructName}}
// @Security BearerAuth
// @Accept json
// @Produce json
// @Success 200
// @Router /{{.EndpointName}}/{{.MethodName}} [Get]
func {{.MethodFuncName}}(c *gin.Context) {
	result, err := service.{{.MethodFuncName}}()
	if err != nil {
		c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
		return
	}

	c.JSON(http.StatusOK, gin.H{
		"data": result,
	})
}
