func ({{.FirstChar}} *{{.StructName}}Db) {{.MethodFuncName}}({{.EndpointCamelId}} int, {{.ModuleName}} {{.ModuleName}}Model.{{.StructName}}) error {
	// Implement your update logic here
	return nil
}
