func (s *Service) {{.MethodFuncName}}({{.EndpointCamelId}} int, {{.ModuleName}} {{.ModuleName}}Model.{{.StructName}}) error {
	err := s.{{.ModuleName}}Repository.{{.MethodFuncName}}({{.EndpointCamelId}}, {{.ModuleName}})
	if err != nil {
		return err
	}
	return nil
}
